.ellty-button {
  font-family: inherit;
  font-optical-sizing: auto;
  font-style: normal;

  width: 340px;
  height: 40px;
  background-color: #FFCE22;
  color: #1F2128;

  border: 0;
  border-radius: 4px;
  cursor: pointer;
  line-height: 1;

  user-select: none;
}

.ellty-button:hover {
  background-color: #FFD84D;
}

.ellty-button:active {
  background: #FFCE22;
}
