.frame {
    width: 370px;
    height: 326px;
    padding: 10px 0px 10px 0px;
    border-radius: 6px;
    opacity: 0px;
    background: #FFFFFF;

    border: 1px solid #EEEEEE;

    box-shadow: 0px 8px 15px 0px #1414141F;
}

.submit {
    width: 370px;
    max-height: 60px;
    padding: 10px 15px 10px 15px;
    gap: 10px;
    opacity: 0px;
}

.all-pages-wrapper {
    width: 370px;
    height: 42px;
}

.pages-wrapper {
    width: 370px;
    min-height: 164px;
    gap: 0px;
    opacity: 0px;
}