.ellty-item {
    box-sizing: border-box;
    background-color: #fff;
    width: 370px;
    height: 42px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 8px 15px 8px 22px;
}

.box-wrapper {
    height: 35px;
    width: 35px;
}