.ellty-item {
    background-color: #fff;
    width: Hug (370px)px;
    height: 42px;

    font-family: "Montserrat", sans-serif;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 8px 15px 8px 22px;
}

.box-wrapper {
    height: 35px;
    width: 35px;
}